body, input {
    margin: 0;
    padding: 0;
    background: pink;
}

input {
    display: inline-block;
    background: #fff;
}

.container {
    width: 100%;
}

.info-box {
    position: relative;
    height: 500px;
    width: 800px;
    top: 50px;
    margin: 0 auto;
    z-index: 99999;
    background: #ffffff;
    border: 7px solid #ccc;
}

.title-box {
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 250px;
    margin-top: 5px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #ff5000;
    line-height: 50px;
}

.txt1-box {
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top: 100px;
    margin-left: 80px;
    font-weight: 700;
}

.username-input {
    display: inline-block;
    margin-left: 45px;
    /*background: green;*/
}

#username {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.txt2-box {
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top: 180px;
    margin-left: 80px;
    font-weight: 700;
}

.userPassword-input {
    display: inline-block;
    margin-left: 61px;
}

#userPassword {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#password {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.txt3-box {
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top: 260px;
    margin-left: 80px;
    font-weight: 700;
}

.userRePassword-input {
    display: inline-block;
    margin-left: 28px;
}

#userRePassword {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.require {
    color: red;
}

.submit-box {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin-top: 380px;
    margin-left: 200px;
    border-radius: 5px;
    background: grey;
}

#submit-button {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: #ff0000;
}

.goLogin-box {
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top: 400px;
    margin-left: 320px;

}

