<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加专辑</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static'css/user_style.css'%}" />

</head>
<body>
<div class="container">
    <div class="info-box">
        <div class="title-box">
            <span>专辑添加</span>
        </div>
        <form action="#" method="post">
            <div class="txt1-box">
                <span class="require">*</span>
                <label for="username">专辑名</label>
                <div class="username-input">
                    <input type="text" id="username" name="username" placeholder="请输入专辑名 长度:1-20个字符" />
                </div>
            </div>

            <div class="txt2-box">
                <span class="require">*</span>
                <label for="text2">日期</label>
                <div class="text2-input">
                    <input type="text" id="text2" name="text2" placeholder="请输入发行日期 长度:1-20个字符" />
                </div>
            </div>

            <div class="txt3-box">
                <span class="require">*</span>
                <label for="text3">歌手名称</label>
                <div class="text3-input">
                    <input type="text" id="text3" name="text3" placeholder="请输入歌手名 长度:1-20个字符" />
                </div>
            </div>

            <div class="submit-box">
                <input id = "submit-button" type="submit" value="添加">
            </div>

        </form>
    </div>
</div>
</body>
</html>
