<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>向歌曲库增加歌曲</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static'css/user_style.css'%}" />

</head>
<body>
<div class="container">
    <div class="info-box">
        <div class="title-box">
            <span>歌曲添加</span>
        </div>
        <form action="#" method="post">
            <div class="txt1-box">
                <span class="require">*</span>
                <label for="song_name">歌曲名</label>
                <div class="username-input">
                    <input type="text" id="song_name" name="song_name" placeholder="请输入歌曲名 长度:1-20个字符" />
                </div>
            </div>

            <div class="txt2-box">
                <span class="require">*</span>
                <label for="singer_name">歌手名</label>
                <div class="username-input">
                    <input type="text" id="singer_name" name="singer_name" placeholder="请输入歌手名 长度:1-20个字符" />
                </div>
            </div>

            <div class="txt3-box">
                <span class="require">*</span>
                <label for="album_name">专辑名</label>
                <div class="username-input">
                    <input type="text" id="album_name" name="album_name" placeholder="请输入专辑名 长度:1-20个字符" />
                </div>
            </div>

            <div class="submit-box">
                <input id = "submit-button" type="submit" value="添加">
            </div>

        </form>
    </div>
</div>
</body>
</html>
