{% extends "base.html" %}
    {% block head %}
    <title>音乐社交平台</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_style.css'%}" />
{% endblock %}

{% block content %}
<div class="row">

    <div class="leftcolumn">
        <div class="card">
            <p id="demo">刷新以获取最新数据及时间</p>
            <button type="button" onclick="displayDate()">刷新</button>
        </div>
        <div class="card">


            <h2>已有歌单</h2>
            <div class="fakeimg" style="height:200px;">图片</div>
            <p>一些歌曲...</p>
        </div>
        <div class="card">
            <h2>歌单热度</h2>
            <div class="fakeimg" style="height:200px;">图片</div>
            <p>一些数据...</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>已有用户</h2>
            <div class="fakeimg" style="height:100px;">图片</div>
            <p>一些用户..</p>
        </div>
        <div class="card">
            <h3>热门评论</h3>
            <div class="fakeimg"><p>...</p></div>
            <div class="fakeimg"><p>...</p></div>
            <div class="fakeimg"><p>...</p></div>
        </div>
        <div class="card">
            <h3>关注我们</h3>
            <p>一些文本...</p>
        </div>
    </div>
</div>

{% endblock %}
