{% extends "base.html" %}
    {% block head %}
    <title>账户注册</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_style.css'%}" />
        <script type="text/javascript">{{script}}('{{wrong}}')</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="info-box">
        <div class="title-box">
            <span>用户注册</span>
        </div>
        <form action="#" method="post">
            {% for i in uf %}
                <div class="txt1-box">
                    <span class="require">*</span>
                    <label for="{{i.name}}">{{i.label}}</label>
                    <div class="input">
                        {{ i }}
                    </div>
                </div>
            {% endfor %}
            <div class="submit-box">
                <input id = "submit-button" type="submit" value="注册">
            </div>

            <div class="goLogin-box">
                <a href="user_login.html" style="text-decoration: none;">已有账号？去登录</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
