{% extends "base.html" %}
{% block title %}
    <title>用户注销</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_style.css'%}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="info-box">
        <div class="title-box">
            <span>用户注销</span>
        </div>
        <form action="#" method="post">
            <div class="txt1-box">
                <span class="require">*</span>
                <label for="username">用户名</label>
                <div class="username-input">
                    <input type="text" id="username" name="username" placeholder="请输入用户名 长度:1-20个字符" />
                </div>
            </div>

            <div class="txt2-box">
                <span class="require">*</span>
                <label for="text2">密码</label>
                <div class="text2-input">
                    <input type="password" id="text2" name="text2" placeholder="请输入密码 长度:1-20个字符" />
                </div>
            </div>

            <div class="submit-box">
                <input id = "submit-button" type="submit" value="注销">
            </div>

        </form>
    </div>
</div>
{% endblock %}
