<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static'css/user_style.css'%}" />
<body>
<div class="container">
    <div class="info-box">
        <div class="title-box">
            <span>用户登录</span>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="txt1-box">
                <span class="require">*</span>
                <label for="username">用户名</label>
                <div class="username-input">
                    <input type="text" id="username" name="username" placeholder="请输入用户名 长度:1-20个字符" />
                </div>
            </div>

            <div class="txt2-box">
                <span class="require">*</span>
                <label for="userPassword">密码</label>
                <div class="userPassword-input">
                    <input type="password" id="userPassword" name="userPassword" placeholder="请输入密码 长度:1-20个字符" />
                </div>
            </div>

            <div class="submit-box">
                <input id = "submit-button" type="submit" value="登录">
            </div>
        </form>
    </div>
</div>
</body>
</html>
